.navbar {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100px;  
    width: 100%;
    background-color: #e6d4d6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    box-shadow: 0 4px 6px -6px #0e0d0d;
}
.navbar h1 {
    display: flex;
    align-items: center;
    gap: 12px;               /* Space btw icon & text */
    
    /* color gradient */
    background: linear-gradient(to bottom, #52b7d8, #ce8691);
    -webkit-background-clip: text; /* Clips background to the text shape */
    background-clip: text;
    color: transparent;            /*  original text color disappear */
    
    font-family: sans-serif;
    font-size: 2.5rem;
}
body{
      background-image: 
        linear-gradient(
            174.2deg,
            rgba(212, 141, 183, 0.8) 7.1%, /* Changed 1 to 0.8 for transparency */
            rgba(92, 171, 224, 0.8) 67.4%
        ),
        url('Purple\ and\ Pink\ Gradient\ Linktree\ Background.png'); /* Your image goes here */
    
    background-size: cover;       /*  fills the whole screen */
    background-position: center;  /* Centers image */
    background-attachment: fixed; /* Keeps image still while scrolling */
    padding-top: 120px;
    min-height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;


}
.container{
    width: 350px;
    margin: 30px auto;

}

h1{
    letter-spacing: 1px;
    margin: 0;

}
h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}
h4{
    margin: 0;
    text-transform: uppercase;

}
.inc-exp-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inc-exp-container > div {
    flex:1;
    text-align: center;

}
.inc-exp-container > div :first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1;
    margin: 5px 0;

}

.money.plus{
    color: #2ece71;

}
.money-minus{
    color:#c20b29;
}

label{ 
    display: inline-block;
    margin: 10px 0;
}

input[type="text"],
input[type="number"] {
    border:1px solid #dedede;
    border-radius: 5px;
    display: block;
    font-size:16px;
    padding: 10px;
    width: 100%;
    
}

.btn{
    cursor: pointer;
    background: #c264bd;
    color: #fff;
    box-shadow: var(--box-shadow);
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-top: 2rem;
}

.btn:focus,
.delete-btn:focus{
    outline:0;
}

.list{
    list-style-type:none;
    padding: 0;
    margin-bottom: 40px;
}

.list li{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #c264bd;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}